/* Float CSS
-l = left
-r = right
-t = top
-b = bottom
-m = middle
-co = content
-bl = block
*/

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
article,aside,details,figcaption,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */


/* ------- */

*,*::before,*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
  /*overflow-x:hidden*/
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size:1rem;
  /* line-height:1.2; */
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
  box-sizing:content-box;
  height:0;
  overflow:visible
}

/* Überschriften */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 8px;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  width: 100%;
}
h1, .h1 {font-size: calc(1.375rem + 1.5vw);}
@media (min-width: 1200px) {
  h1, .h1 {font-size: 2.5rem;}
}
h2, .h2 {font-size: calc(1.325rem + 0.9vw);}
@media (min-width: 1200px) {
  h2, .h2 {font-size: 2rem;}
}
h3, .h3 {font-size: calc(1.3rem + 0.6vw);}
@media (min-width: 1200px) {
  h3, .h3 {font-size: 1.75rem;}
}
h4, .h4 {font-size: calc(1.275rem + 0.3vw);}
@media (min-width: 1200px) {
  h4, .h4 {font-size: 1.5rem;}
}
h5, .h5 {font-size: 1.25rem;}
h6, .h6 {font-size: 1rem;}


/* Absätze */
p {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0 8px 0 8px; 
  width: 100%;
} /* 1rem */

blockquote {margin: 0 0 1rem;}

[table-fit],.table-fit{
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


/* Filter */
[opacity-norm],[hover-opacity]:hover,.opacity-norm, .hover-opacity:hover {
  opacity: 0.60
}
[opacity-max],.opacity-max{opacity: 0.25}
[opacity-min],.opacity-min{opacity: 0.75}

[greyscale-max],[hover-greyscale]:hover.greyscale-max,.hover-greyscale:hover{
    filter: grayscale(100%)
}
[greyscale-norm],.greyscale-norm {
    filter: grayscale(75%)
}
[greyscale-min],.greyscale-min{
    filter: grayscale(50%)
}
[sepia-norm],.sepia-norm {
    filter: sepia(75%)
}
[sepia-max],[hover-sepia]:hover,.sepia-max,.hover-sepia:hover {
    filter: sepia(100%)
}
[sepia-min],.sepia-min {
    filter: sepia(50%)
}


/* Text Formatierung */
b,strong {font-weight: bolder;}
small, .small {font-size: 0.875em;}
mark, .mark {
  padding: 0.1875em;
  background-color: #fff3cd;
  color:#000;
}

[text-c],.text-c,[text-m],.text-m{text-align: center}
[text-r],.text-r{text-align: right}
[text-l],.text-l{text-align: left}
[text-t],.text-t{vertical-align:top;}
[text-m],.text-m,[text-v],.text-v{vertical-align:middle;}
[text-b],.text-b{vertical-align:bottom;}

/* tag badge */
[i-badge],[i-tag],.i-badge,.i-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    text-align: center
}
[i-badge],.i-badge{border-radius: 50%}


/* Link */
a {color: inherit;text-decoration:none;}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


/* Listen */
ol,ul {
  padding: 0;
  list-style-type: none;
}
ol,ul,dl {margin-top: 0;margin-bottom: 1rem;width: 100%;}
ol ol,ul ul,ol ul,ul ol {margin-bottom: 0;}

dt {font-weight: 700;}
dd {margin-bottom: 0.5rem;margin-left: 0;}
dt{padding-left: 8px;}
dd{padding-left: 16px;}

ul li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Code */
pre,code,kbd,samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
pre {
  padding: 0 16px;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: #e685b5;
  word-wrap: break-word;
}
a > code {color: inherit;}
kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: #212529;
  background-color: #adb5bd;
  border-radius: 0.25rem;
}
kbd kbd {padding: 0;font-size: 1em;}


/* Media */
img,svg {
  vertical-align: middle;
  border-style:none;
  width: 100%;
}
figure {
  display: inline-block;
  margin: 0 0 1rem;
}
figcaption, caption {
  font-size: 0.875em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(173, 181, 189, 0.75);
  text-align: left;
}


/* Tabelle */
table {
  caption-side: bottom;
  border-collapse: collapse;
  border-spacing:0;
  width:100%;
  display:table;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead,tbody,tfoot,tr,td,th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
thead{border-bottom: 2px solid #c4c4c4;}
th,td{border-bottom: 1px solid #ddd;padding: 0.5rem;}

[data-all] tr:nth-child(odd){
  background-color:#fff
}
[data-all] tr:nth-child(even){
  background-color:#f1f1f1
}


/* Formular */
label {display: inline-block;}
button {
  border-radius:0;
  border:none;
  display: inline-block;
  padding: 8px;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}
button:focus:not(:focus-visible) {outline: 0;}
input,button,select,optgroup,textarea {
  margin: 2px 0 0 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,select,textarea{padding: 3px 6px 5px 6px;} /*margin: 0 8px 8px 8px;*/
textarea,[type=text],[type=password],[type=email],[type=file],[type=image],[type=tel],[type=url]{width: 100%;}
[type=radio],[type=checkbox]{width:24px;height:24px;position:relative;top:6px;margin-right: 8px;} /*transform: translate(0%,20%)}*/

button:hover,a:hover {
  color: #000 !important;
  background-color: #ccc !important
}
button,select {text-transform: none;}
[role=button] {cursor: pointer;}
select {word-wrap: normal;}
select:disabled {opacity: 1;}
[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}
button,[type=button],[type=reset],[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),[type=button]:not(:disabled),
[type=reset]:not(:disabled),[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {padding: 0;border-style: none;}
textarea {resize: vertical;}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {font-size: 1.5rem;}
}
legend + * {clear: left;}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
output {display: inline-block;}
iframe {border: 0;}
summary {
  display: list-item;
  cursor: pointer;
}
progress {vertical-align: baseline;}


/* Sichtbarkeit */
[hidden],.hidden{
  display: none;
}
[show],.show{display: block!important;}
[show-hover]:hover [hidden],.show-hover:hover [hidden]
,[show-hover]:hover .hidden,.show-hover:hover .hidden{
  display: inline-block;
}


/* abstände */
[ma-0], .ma-0 {margin: 0px}
[ma-all], .ma-all {margin: 8px}
[ma-v], .ma-v {margin-top: 8px; margin-bottom: 8px;}
[ma-v-16], .ma-v-16 {margin-top: 16px; margin-bottom: 16px;}
[ma-v-32], .ma-v-32 {margin-top: 32px; margin-bottom: 32px;}
[ma-v-48], .ma-v-48 {margin-top: 48px; margin-bottom: 48px;}
[ma-v-64], .ma-v-64 {margin-top: 64px; margin-bottom: 64px;}
[ma-t], .ma-t {margin-top: 8px;}
[ma-b], .ma-b {margin-bottom: 8px;}
[ma-t-16], .ma-t-16 {margin-top: 16px;}
[ma-t-32], .ma-t-32 {margin-top: 32px;}
[ma-t-48], .ma-t-48 {margin-top: 48px;}
[ma-t-64], .ma-t-64 {margin-top: 64px;}
[ma-l],.ma-l{margin-left: 8px;}
[ma-r],.ma-r{margin-right: 8px;}
[ma-h],.ma-h{margin-right: 8px; margin-left: 8px;}

/*
[ma-child],.ma-child{translate: -16px;width:calc(100% + 16px)}
[ma-child]>*,.ma-child>*{margin-left: 16px};
*/


[pa-0], .pa-0 {padding: 0}
[pa-all], .pa-all {padding: 8px}
[pa-v], .pa-v {padding-top: 8px; padding-bottom: 8px;}
[pa-h], .pa-h {padding-left: 8px; padding-bottom: 8px;}
[pa-v-16], .pa-v-16 {padding-top: 16px; padding-bottom: 16px;}
[pa-v-32], .pa-v-32 {padding-top: 32px; padding-bottom: 32px;}
[pa-t], .pa-t {padding-top: 8px;}
[pa-t-16], .pa-t-16 {padding-top: 16px;}
[pa-t-32], .pa-t-32 {padding-top: 32px;}
[pa-b], .pa-b {padding-bottom: 8px;}
[pa-l], .pa-l {padding-left: 8px;}
[pa-r], .pa-r {padding-right: 8px;}


/* Ränder */
[border-0],.border-0{border: 0 !important}
[border-all],.border-all{border: 1px solid #ccc !important}
[border-t],.border-t{border-top: 1px solid #ccc !important}
[border-b],.border-b{border-bottom: 1px solid #ccc !important}
[border-l],.border-l{border-left: 1px solid #ccc !important}
[border-r],.border-r{border-right: 1px solid #ccc !important}

[bar-t],.bar-t{border-top: 6px solid #ccc !important}
[bar-b],.bar-b{border-bottom: 6px solid #ccc !important}
[bar-l],.bar-l{border-left: 6px solid #ccc !important}
[bar-r],.bar-r{border-right: 6px solid #ccc !important}

[round-c],.round-c{border-radius: 50%}
[round-s],.round-s{border-radius: 2px}
[round-m],.round-m{border-radius: 4px}
[round-l],.round-l{border-radius: 8px}
[round-xl],.round-xl{border-radius: 16px}
[round-xxl],.round-xxl{border-radius: 32px}

[round-t-s],.round-t-s{border-radius: 2px 2px 0 0}
[round-t-m],.round-t-m{border-radius: 4px 4px 0 0}
[round-t-l],.round-t-l{border-radius: 8px 8px 0 0 }
[round-t-xl],.round-t-xl{border-radius: 16px 16px 0 0}
[round-t-xxl],.round-t-xxl{border-radius: 32px 32px 0 0}

[round-l-s],.round-l-s{border-radius: 2px 0 0 2px}
[round-l-m],.round-l-m{border-radius: 4px 0 0 4px}
[round-l-l],.round-l-l{border-radius: 8px 0 0 8px}
[round-l-xl],.round-l-xl{border-radius: 16px 0 0 16px}
[round-l-xxl],.round-l-xxl{border-radius: 32px 0 0 32px}

/* Positionierung */
pos-rel,[pos-rel],.pos-rel{position: relative;}
pos-t-l,[pos-t-l],.pos-t-l{position: absolute;top:0;left:0}
pos-t-m,[pos-t-m],.pos-t-m{position: absolute;top:0;left:50%;transform: translate(-50%,0%)}
pos-t-r,[pos-t-r],.pos-t-r{position: absolute;top:0;right:0}
pos-l,[pos-l],.pos-l{position: absolute;top:50%;left:0;transform: translate(0%,-50%)}
pos-m,[pos-m],.pos-m{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%)}
pos-r,[pos-r],.pos-r{position: absolute;top:50%;right:0;transform: translate(0%,-50%)}
pos-b-l,[pos-b-l],.pos-b-l{position: absolute;bottom:0;left:0}
pos-b-m,[pos-b-m],.pos-b-m{position: absolute;bottom:0;left:50%;transform: translate(-50%,0%)}
pos-b-r,[pos-b-r],.pos-b-r{position: absolute;bottom:0;right:0}

pos-sticky,[pos-sticky],.pos-sticky{position: sticky;z-index: 2;}


/* Float */
[float-l],.float-l{float:left}
[float-r],.float-r{float:right}
[float-clear],.float-clear{clear: both;}

/* Höhen */
h-100-64 {
  max-height: calc(100vh - 64px);
  overflow-y: auto;
}


/* Breiten */
/*
w-20,[w-20],.w-20{width: 20%;}
w-25,[w-25],.w-25{width: 25%;}
w-33,[w-33],.w-33{width: 33.33333333%;}
w-40,[w-40],.w-40{width: 40%;}
w-50,[w-50],.w-50{width: 50%;}
w-60,[w-60],.w-60{width: 60%;}
w-66,[w-66],.w-66{width: 66.66666667%;}
w-75,[w-75],.w-75{width: 75%;}
w-80,[w-80],.w-80{width: 80%;}
w-95,[w-95],.w-95{width: 95%;}
w-100,[w-100],.w-100{width: 100%;}
*/

/* Layout Komponet */
/* 
<div style="position: fixed;top:60px;right:0;bottom:0;left:0;overflow-x: auto;">
<span color-p2 style="position:absolute;top:0;bottom:0;width: 80%;overflow-y:auto;">
*/
r-fix{
  position: fixed;
  top:0;right:0;bottom:0;left:0;
  overflow-x: auto;
}
c-fix{
  position:absolute;
  top:0;bottom:0;
  overflow-y:auto;
}


/* Komponenten */

form, r-fit, r-float {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

form::before, form::after, r-fit::after, r-fit::before{
  content: "";
  display: table;
  clear: both
}

c-float,c-fit{flex: 1 0 0%;}
c-c{flex: 0 0 0%; margin-left: 8px;}

c-1,c-2,c-3,c-4,c-5,c-6
,c-7,c-8,c-9,c-10,c-11,c-12
,c-20,c-25,c-33,c-40,c-50,c-60,c-66,c-75,c-80,c-100,nav {
  flex: 0 0 auto;
  /* transition: 1s; */
}
c-100,nav {width: 100%;}

/* Nav Bar */
nav-side,[nav-side],.nav-side{
  max-height: calc(100vh - 128px);
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 200px;
  background-color: #fff;
  position: fixed !important;
  top: 0;
  z-index: 1;
}

nav input{padding: 3px 3px 2px 8px!important;margin-top: 6px;}

/* Nav(Bar) Items */
nav-l,[nav-l],.nav-l
,nav-r,[nav-r],.nav-r
,nav-bl,[nav-bl],.nav-b{
    padding: 8px 16px;
    border: none;
    display: block;
    outline: 0
}
nav-l,[nav-l],.nav-l {
  width: auto;
  float: left;
}
nav-r,[nav-r],.nav-r {
  width: auto;
  float: right;
}
nav-bl,[nav-bl],.nav-bl{
  width: 100%;
}



/* Dropdown */
/* onclick="this.querySelector('nav').classList.toggle('show')" */
[hover-down],.hover-down
,[click-down],.click-down {
  position: relative;
  display: inline-block;
  cursor: pointer
}

down-co,[down-co],.down-co {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;
  border: 1px solid;
}
.hover-down:hover .down-co
,[hover-down]:hover [down-co] 
,[hover-down]:hover down-co {
    display: block
}


/* Modal */
modal-back,[modal-back],.modal-back {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}
modal-co,[modal-co],.modal-co {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  min-width: 600px
}




/* Media Size */
@media(max-width: 575px) {
  r-float,r-fit,nav {flex-direction: column;}
  nav-l,[nav-l],nav-r,[nav-r]
  ,c-1,c-2,c-3,c-4,c-5,c-6,c-7,c-8,c-9,c-10,c-11,c-12
  ,c-float,c-fit {
    float: none;
    width: 100%!important;
    margin: 0!important;
  }
  [hide-s],.hide-s{display: none !important}
}
@media (max-width: 768px) {
  c-1, c-2, c-3, c-4,c-5,c-50 {width: 50%;margin:0!important;}
  c-float,c-fit,c-20,c-25,c-33,c-40{min-width: 50%;margin: 0!important;}
  c-6,c-7,c-8,c-9,c-10,c-11,c-12,c-60,c-66,c-75,c-80{width: 100%;margin: 0!important;}
  [hide-m],.hide-m{display: none !important}
}

@media (min-width: 576px) {
  r-float,r-fit,nav {flex-direction: row;}
  r-fit, form {
    max-width: 95%;
  }
}
@media (min-width: 768px) {
  r-fit, form {
    max-width: 90%;
  }
  c-1{width: 8.33333333%;}
  c-2{width: 16.66666667%;}
  c-3{width: 25%;}
  c-4{width: 33.33333333%;}
  c-5{width: 41.66666667%;}
  c-6{width: 50%;}
  c-7{width: 58.33333333%;}
  c-8{width: 66.66666667%; }
  c-9{width: 75%;}
  c-10{width: 83.33333333%;}
  c-11{width: 91.66666667%;}
  c-12{width: 100%;}
  
  c-20{width: 20%;}
  c-25{width: 25%;}
  c-33{width: 33.33333333%;}
  c-40{width: 40%;}
  c-50{width: 50%;}
  c-60{width: 60%;}
  c-66{width: 66.66666667%;}
  c-75 {width: 75%;}
  c-80 {width: 80%;}
  [shadow-2],.shadow-2{box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)}
  [shadow-4],.shadow-4{box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)}
  [hide-l],.hide-l{display: none !important}
}
@media (min-width: 992px) {
  r-fit, form {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  r-fit, form {
    max-width: 1140px;
  }
  [hide-xl],.hide-xl{display: none !important}
}
@media (min-width: 1400px) {
  r-fit, form {
    max-width: 1320px;
  }
}

