{{ if item.data }}
    <a nav-bl href="{{ item.data.url }}">
      -&nbsp;{{ item.data.title }}
    </a>
{{ else }}
  <nav-bl>-&nbsp;{{ item.slug }}</nav-bl>
{{ /if }}
{{ if item.children }}
  {{ for subitem of item.children }}
    {{ include "templates/menu_subitem.vto" { item: subitem } }}
  {{ /for }}
{{ /if }}