<!-- wird von nav.vto aufgerufen -->
{{ if item.data }}
    <a nav-bl href="{{ item.data.url }}">
      {{ item.data.title }}
    </a>
{{ else }}
  <nav-bl pa-l>{{ item.slug }}</nav-bl>
{{ /if }}
{{ if item.children }}
  {{ for subitem of item.children }}
    {{ include "templates/menu_subitem.vto" { item: subitem } }}
  {{ /for }}
  <hr ma-0>
{{ /if }}

