<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Test</title>
  <link rel="stylesheet" href="/css/flex.css">
  <link rel="stylesheet" href="/css/flex-colors.css">
  <link rel="stylesheet" href="/css/prism.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/img/server_icon.png" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/img/server_icon.png">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <r-float style="min-height: 100vh">
    {{ include "templates/topnav.vto" }}
    <c-fit pa-h style="min-height: calc(90vh - 48px);">
      {{ content }}
    </c-fit>
  </r-float>
  <r-float>
    <c-100 color-darkgrey no-print style="height: 100px;">
      {{ include "templates/footer.vto" }}
    </c-100>
  </r-float>
  <script src="/css/prism.js"></script>
</body>

</html>