<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/flex.css">
  <link rel="stylesheet" href="/css/flex-colors.css">  
  <link rel="stylesheet" href="/css/prism.css">  
  <title>godotcommunity.de</title>
</head>
<body>
  <!-- { include "layout/topnav.vto" }
  { include "layout/subnav.vto" } -->
  <r-float ma-t-16>
    <r-fit><h1>{{ title }}</h1></r-fit>
    {{ content }}
  </r-float>
  <!-- { include "layout/footer.vto" } -->
  <script src="/css/prism.js"></script>
  </body>
</html>
